
body {  padding:0px;  margin:0px;  font-family:sans-serif;  line-height:1.3em;  background-color:#eee;  }

h1 {  margin:15px 0px 20px 0px;  text-align:center;  font-weight:bold;  font-size:1.4rem;  color:#888888;  line-height:1.5em;  }
p {  margin:20px;  line-height:1.7em;  }

